/* styles for the account number step */

.account-number-form{
    margin-bottom: 48px;
  }
  .account-input{
    outline: none;
    display: block;
  }
  .account-input, .select{
    border-radius: 12px;
    border: 1px solid #E4E9EF;
    padding: 14px 10px;
    margin-top: 8px;
    min-width: 25.2vw;
  }
  .account-input:hover, .select:hover{
    border-color: #006AFF;
  }
  .account-number-form .account-input{
    margin-bottom: -1em;
  }
/* media queries */

@media screen and (max-width: 500px) {
  .account-input{
    padding: 14px 5px;
    min-width: 10vw;
    width: 95%;
    margin-right: 0px;
    margin-bottom: -.5em;
  }
  .account-number-form .account-input{
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 600px){
  .account-number-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}