/* styles for the business category step */

.categories{
    display: flex;
  }
  .categories .business-type {
    margin-right: 80px;
  }
  .business-category label, .business-category p{
    font-size: 12px;
  }
  .pos{
    margin-top: 26px;
  }

/* media queries */
@media screen and (max-width: 500px) {
  .categories{
    flex-direction: column;
  }
  .categories .business-type {
    margin-right: 0px;
    margin-bottom: 1em;
  }
}