@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import '../src/styles/button-styles.css';
@import '../src/styles/bvn-styles.css';
@import '../src/styles/verify-styles.css';
@import '../src/styles/onboarding-styles.css';
@import '../src/styles/accountnumber-styles.css';
@import '../src/styles/social-styles.css';
@import '../src/styles/categories.css';


body{
  font-family: 'DM Sans', sans-serif;
}
.page-container{
  display: flex;
}
.left-part{
  background-color: #F3E8C9;
  width: 33vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-part img{
  max-width: 90%;
}
.right-section{
  padding:0 60px;
}
.bottom-border{
  width: 100%;
  height: .2px;
  background-color: #E4E9EF;
  border: none;
}
select {
  appearance: none;
  border: none;
  margin: 0;
  width: 100%;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
select::-ms-expand {
  display: none;
}
.empty-input{
  color: inherit;
}
.empty-input:focus{
  border: .5px solid rgb(250, 120, 120);
}
.page-button-div{
  display: flex;
  justify-content: space-between;
}
.success{
  font-size: 28px;
  padding: 2em;
}


/* media queries */
@media screen and (max-width:1000px){
  .right-section{
    padding: 0px 20px;
  }
}
@media screen and (max-width: 540px) {
  .left-part, .bottom-border{
      display: none;
  }
  .right-section{
    margin: auto;
    padding: 10px;
    width: 88vw;
  }
  .success{
    font-size: 1em;
  }
  
}